<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <h1>Buttons</h1>
    <p>Welcome to the Buttons folder! Here you can find all of my buttons I made so far</p>
  </header>

  <main class="grid">
    <div class="card">
      <h2>Basic</h2>
      <p>Every button needs to start from somewhere. This basic button has a simple monochromatic purple theme.</p>
      <a href="Basic/index.html">See Basic Button</a>
    
    </div>

    <div class="card">
      <h2>Confetti</h2>
      <p>Every celebration calls for a little bit of confetti. So why not create a button that explodes into confetti that can be used.</p>
      <a href="Confetti/index.html">View Confetti Button</a>
    </div>

  </main>

  <footer>
    <p><a href="../index.html">Back to Portfolio</a></p>
  </footer>
</body>
</html>