<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="styles.css">
    <title>Confetti Button</title>
  </head>
  <body>
    <!--Create a button using the button element-->
    <button id="confetti">Click Me!🎊</button>

    <!--Then add the 2 scripts needed for the effect to happen-->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <script src="script.js"></script>

    <!--Also add a link back to the homepage-->
    <p><a href="../index.html">Back to Portfolio</a></p>
  </body>
</html>
