<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header>
    <h1>Components</h1>
    <p>Welcome to the Components folder! Here you can find everything that has to do with different parts of a website.</p>
  </header>

  <main class="grid">
    <div class="card">
      <h2>Buttons</h2>
      <p>Buttons play an important part in helping an user to either get somewhere, change something or add something.</p>
      <a href="Buttons/index.html">View Buttons</a>
    
    </div>

    <div class="card">
      <h2>Form Elements</h2>
      <p>Each part of a form plays an essential part for the user to fill out their info. This info can be used to help gain insight.</p>
      <a href="Form/index.html">View Form Elements</a>
    </div>

    <div class="card">
      <h2>Nav Elements</h2>
      <p>Navigation is crucial for a website so users can follow along in order to find what they are looking for.</p>
      <a href="Navigation/">View Nav Elements</a>
    </div>

    <div class="card">
      <h2>Sliders</h2>
      <p>Sliders add that final touch for a website whether it is to change a theme or allow users to add to their opinions.</p>
      <a href="Form/index.html">View Sliders</a>
    </div>
  </main>

  <footer>
    <p><a href="../index.html">Back to Portfolio</a></p>
  </footer>
</body>
</html>