<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layouts</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header>
    <h1>Layouts</h1>
    <p>Welcome to the Layouts folder! Here you can find everything that has to do with organizing information into simple structures.</p>
  </header>

  <main class="grid">
    <div class="card">
      <h2>Content</h2>
      <p>The Content folder contains layouts that are easy to read for users. These include simple cards, messages and invites</p>
      <a href="Content/index.html">View Content</a>
    
    </div>

    <div class="card">
      <h2>Responsive</h2>
      <p>Each project in the Responsive folder is designed to adhere to sizing standards for various devices such as mobile, tablets and desktops.</p>
      <a href="Responsive/index.html">View Form Elements</a>
    </div>

    <div class="card">
      <h2>Structural</h2>
      <p>The Structural folder has layout that are designed to display information neatly. These projects will include articles, magazines and brochures.</p>
      <a href="Structural/index.html">View Structural</a>
    </div>
    </div>
  </main>

  <footer>
    <p><a href="../index.html">Back to Portfolio</a></p>
  </footer>
</body>
</html>